@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #dc6028;
  text-align: center;
}

.carousel-container {
  padding: 40px;
}

.carousel-r {
  border-radius: 40px;
}

.bg-orange {
  background-color: #dc6028;
  color: white;
}

.bg-orange:hover {
  background-color: #b86037;
  color: white;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff7f00;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.carousel-indicators .active {
  background-color: #ff7f00;
  opacity: 1;
}

.card-img-top {
  height: 250px;
}

.card-text {
  font-size: 18px;
  font-weight: 600;
  color: #dc6028;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
